
{% extends 'backend/master.html' %}
{% block title %}Shopping Cart Sample List{% endblock title %}

{% block content %}
<div class="container">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if messages.tags %} class="{{ messages.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<br>
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Product ID
                    </th>
                    <th>
                        Photo
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Product Price
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Actions
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.photo }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.desc }}</td>
                    <td><a href="/backend/edit/{{ product.id }}">
                    <span class="glyphicon glyphicon-pencil">Edit</span>
                    </a>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </td>
                    <td>
                        <a href="/backend/delete/{{ product.id }}" onclick='return confirm("Do you want to delete product name : {{ product.name }} ?")'>Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        {% if products.has_other_pages %}
        <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{products.previous_page_number}}"> &laquo; </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            {% endif %}
            {% for p in products.paginator.page_range %}
                {% if products.number == p %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ p }}">{{ p }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
            {% endfor %}
                {%if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>   
                </li>
                {% endif %}   
        </ul>
{% endif %}
        
        

 </div>

{% endblock content %}
